@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
body{
    margin:0;
    font-family: 'Akaya Telivigala', cursive;
    display:flex;
    justify-content:center;
}
